/*모든요소의 기본 마진 패딩, 사이징 초기화*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
  }
/* 전체 스타일 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/* 헤더 스타일 */
.signup-header {
    background-color: #20b6ea;
    color: #fff;
    padding: 40px; /*상단바 넓이*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.main-header h1 {
    margin: 0;
}
/* 메인 컨텐츠 스타일 */
.signup-container {
    max-width: 1920px; /* 최대 너비를 설정 */
    margin: 0 auto;/* 상단바와 하단바 사이 중앙 정렬 */
    padding: 0px;/* 전체적인 내부 여백 */
    padding-top: 200px; /* 헤더 높이만큼 패딩 추가 */
    align-items: center;
    text-align: center;
}
/* .form-elements {
    padding-top: 10px;
} */
.form-element {
    margin-bottom: 15px;
}
.form-control {
    width: 80%;
    max-width: 768px;
    padding: 15px 20px;
    border-radius: 15px;
}

.bt-form-control {
    width: 80%;
    max-width: 768px;
    padding: 15px 20px;
    border-radius: 15px;
    background: #090909;
    color: #fff;
    margin-top: 15px;
}
/* singup에 마우스 커너 올리면 커서 활성화 */
.bt-form-control:hover {
    cursor: pointer;
}

/* 모바일 반응형 웹 디자인 */
@media (max-width: 768px) {
    .signup-header {
        flex-direction: row;
        align-items: center;
        padding: 20px;
    }

    .signup-container {
        padding-top: 30%; /* 헤더 높이 증가에 따른 패딩 조정 */
    }

}